@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Work+Sans:700);
*{
 box-sizing: border-box;
   padding: 0;
   margin: 0;
   border: 0;
   outline: 0;
  -webkit-font-smoothing: antialiased;
}
h1{
    text-align: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
}
p{ 
 font-family: Times New Roman;
  }
body{
  background: #111;
  color: #fff;
  font: 2.6rem/1.55 "Adobe Garamond Pro", "EB Garamond", Garamond, Georgia, "Times New Roman", serif;
    }
}
h1::before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: black;
    top: 50%;
    z-index: -1;
}
h1 span{
    background: #111;
    color: #fff;
    padding: 0 15px;
}
.img-gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
}
.img-gallery img:hover{
    transform: scale(1.2);
}
.ful-img{
    width: 100%;
    height: 100vh;
    background-color: Black;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.ful-img img{
    width: 90%;
    max-width: 600px;
}
@media screen and (max-width:400px){
    h1{
        text-decoration: underline;
    }
    h1::before{
        display: none;
    }
    h1 span{
        padding: 0;
    }
  }
